.panel {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #a7c2dd;
}

.panel-wrapper {
  width: 800px;
  height: 500px;
  position: center;
  display: flex;
  flex-direction: column;
  padding: 50px 50px;
  border-radius: 20px;
  box-shadow: 30px 30px 50px black;
  background-color: #1e1e1f6e;
  font-size: 24px;
  font-family: Arial, Helvetica, inherit;
  font-weight: bolder;
  text-align: center;
  line-height: 5;
}
.x {
  line-height: 2;
}
